
body {
  background-image: url("./assets/wood-bg.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  height: 100%;
  position: relative;
}

.jumbo {
    background-image: url("./assets/meat_platter.jpg");
    min-height: 853px;
    min-width: 1280px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 10px;
    
  }

ul {
  list-style-type: none;
  margin: 0;
  justify-content: space-evenly;
}

.nav-list {
  padding: 10px 0;
  background: -webkit-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
  
}

.site-title, .favorite-title {
  text-align: center;
}

.top-stripe-h1 {
  margin-left: auto;
  margin-right: auto;
  
}

.jumbo-body{
  background: rgba(245, 245, 220, 0.6);
  margin: 0 auto;
}

._1-wtg {
  display: flex;
  margin: auto;
}

.favorites-container {
  background: -webkit-linear-gradient(top, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
  border-radius: 10px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  
}

.footer {
  margin-top: 50px;
  min-height: 100px;
  background: -webkit-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.details-text{
  background: rgba(245, 245, 220, 0.6);
  width: 50%;
}

.product-buttons {
  display: flex;
  justify-content: space-evenly;
}

.mx-1 span {
  color: aliceblue;
  font-size: 1.25rem;
}

.footer-col {
  width: 20%;
  margin: 15px 0 0 40px;

  
}

.footer-col a img{
  margin: 0 5px;
  height: 32px;
  width: 32px;


}

.login, .signup, .history{
  background: rgba(245, 245, 220, 0.6);
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }